div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
div a{
  background-color: rgb(65, 70, 70);
  padding: 3px 6px;
  margin: 2px 3px;
  border-radius: 15px;
  color: white;
  font-size: 14px;
}
